*{
    margin: 0;
    padding: 0;
}
/* Padrões */
:root {
    --background_color: #fafafa;
    --font_color:hsl(234, 12%, 34%);
}

.neutral{
    font-weight: 200;
}

.bold {
    font-weight: bold;
}

.title {
    font-size: 2rem;
    color: var(--font_color);
    font-family: "Poppins", Arial;
}

.paragraph {
    font-size: 0.8rem;
    color: var(--font_color);
    font-family: "Poppins", Arial;
}
/* Comandos */
/* inicio: titulo, etc. */
.inicio {
    border: 1pt solid red;
    width: 100%;
    height: 30vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.inicio-titulo {
    width: 34%;
    text-align: center;
}
.inicio-p {
    width: 34%;
    text-align: center;
}
/* Corpo */
.corpo {
    width: 100%;
    height: 70vh;
    border: 1pt solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.corpo-left-card-position {
    width: 25%;
    border: 1pt solid green;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo-left-card {
    border: 1pt solid red;
    height: 50%;
    width: 95%;
}
.corpo-mid-card-position {
    width: 30%;
    border: 1pt solid rgb(238, 246, 10);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.corpo-mid-card {
    border: 1pt solid red;
    height: 50%;
    width: 95%;
}

.corpo-right-card-position {
    width: 30%;
    border: 1pt solid rgb(0, 4, 128);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo-right-card {
    border: 1pt solid red;
    height: 50%;
    width: 95%;
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .inicio-titulo{
        width: 38%;
    }
}
