*{
    margin: 0;
    padding: 0;
}
/* Padrões */
:root {
    --background_color: hsl(0, 0%, 98%);
    --shadow-color: hsl(229, 6%, 66%);
    --font_color:hsl(234, 12%, 34%);
}

.neutral{
    font-weight: 200;
}

.bold {
    font-weight: bold;
}

.title {
    font-size: 2rem;
    color: var(--font_color);
    font-family: "Poppins", Arial;
}
.low-title {
    font-size: 1.1rem;
    color: var(--font_color);
    font-family: "Poppins", Arial;
}
.paragraph {
    font-size: 0.7rem;
    color: var(--font_color);
    font-family: "Poppins", Arial;
}
/* Comandos */
/* inicio: titulo, etc. */
.inicio {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.inicio-titulo {
    width: 34%;
    text-align: center;
}
.inicio-p {
    width: 34%;
    text-align: center;
}
/* Corpo */
.corpo {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.corpo-left-card-position {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo-left-card {
    border-top: 2pt solid hsl(180, 62%, 55%);
    background-color: var(--background_color);
    border-radius: 4px;
    box-shadow: 1px 0px 7px 2px var(--shadow-color);
    height: 45%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-card-content {
    width: 85%;
    height: 90%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.left-card-content-text {
   
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.left-card-content-image{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    
}
.left-card-content img {
    width: 22%;
    height: 100%;
    
}
.corpo-mid-card-position {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.corpo-mid-card-one {
    border-top: 2pt solid hsl(0, 78%, 62%);
    background-color: var(--background_color);
    border-radius: 4px;
    box-shadow: 1px 0px 7px 2px var(--shadow-color);
    height: 45%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.mid-card-one-content {
    width: 85%;
    height: 90%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.mid-card-one-content-text {
   
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.mid-card-one-content-image{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    
}
.mid-card-one-content img {
    width: 22%;
    height: 100%;
    
}
.corpo-mid-card-two {
    border-top: 2pt solid hsl(34, 97%, 64%);
    background-color: var(--background_color);
    border-radius: 4px;
    box-shadow: 1px 0px 7px 2px var(--shadow-color);
    height: 45%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-card-two-content {
    width: 85%;
    height: 90%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.mid-card-two-content-text {
   
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.mid-card-two-content-image{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    
}
.mid-card-two-content img {
    width: 22%;
    height: 100%;
    
}
.corpo-right-card-position {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo-right-card {
    border-top: 2pt solid hsl(212, 86%, 64%);
    background-color: var(--background_color);
    border-radius: 4px;
    box-shadow: 1px 0px 7px 2px var(--shadow-color);
    height: 45%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-card-content {
    width: 85%;
    height: 90%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.right-card-content-text {
   
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.right-card-content-image{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    
}
.right-card-content img {
    width: 22%;
    height: 100%;
    
}
@media screen and (max-width: 1030px) {
    .inicio-titulo{
        width: 40%;
    }

}
